MAKES THE MODEL TEST IT AND WRITE DOWN THE RULES :

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("E:/AI ML/letsupgrade/Material/Day 25/train.csv")

In [4]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
from sklearn import preprocessing
encoder=preprocessing.LabelEncoder()

In [6]:
data["Sex"]=encoder.fit_transform(data["Sex"])

In [7]:
data["Embarked"]=encoder.fit_transform(data["Embarked"])

# RANDOM FOREST ALGORITHM:-

In [8]:
from sklearn.ensemble import RandomForestClassifier
r_tree=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
features=["Pclass","Sex","Age","SibSp","Embarked","Fare"]

In [9]:
r_tree.fit(X=data[features],y=data["Survived"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
r_tree.oob_score_

0.8110236220472441

In [11]:
for feature,imp in zip(features,r_tree.feature_importances_):
    print(feature,imp)

Pclass 0.08887613194329166
Sex 0.2673219955644657
Age 0.2713749886321852
SibSp 0.05238576725009329
Embarked 0.03354093219318399
Fare 0.2865001844167803

# DECISION TREE ALGORITHM WITH "Survived" AS DEPENDENT VARIABLE AND "Age","Fare","Sex" AS INDEPENDENT VARIABLE:-

In [12]:
from sklearn import tree
d_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=12)

In [13]:
d_model.fit(X=data[["Age","Fare","Sex"]],y=data["Survived"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [16]:
with open("d_tree13.dot",'w') as f:
    f=tree.export_graphviz(d_model,feature_names=["Age","Fare","Sex"],out_file=f)

In [17]:
d_model.score(X=data[["Age","Fare","Sex"]],y=data["Survived"])

0.8110236220472441

# RULES:-

## 1. Person is survived when it's fare lies between 26.269 to 26.469 and it's age>6 and person should be male.

## 2. Person is survived when it's fare less than 20.825 and it's age<6 and person should be male.

## 3. Person is not survived when it's fare lies between 27.825 to 28.856 and person should be female.

## 4. There are very high chances of the survived person when it's fare >48.2 and person should be female.

## 5. There are very high chances of the unsurvived person when it's fare <26.269 and age lies between 6 to 14 and person should be male.