In [1]:
import numpy as np
import pandas as pd 

data2=pd.read_excel("E:/AI ML/letsupgrade/Material/Day 25/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)

In [2]:
data2.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
data2.isna().sum()

ID                    0
Age                   0
Experience            0
Income                0
ZIP Code              0
Family                0
CCAvg                 0
Education             0
Mortgage              0
Personal Loan         0
Securities Account    0
CD Account            0
Online                0
CreditCard            0
dtype: int64

In [8]:
z=data2["Personal Loan"]
x=data2.drop(["Personal Loan","ID","ZIP Code"],axis=1)
li2=list(x.columns)

# Random Forest Algorithm to find important independent variables:-

In [9]:
from sklearn.ensemble import RandomForestClassifier
r_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)
r_model.fit(X=x,y=z)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
r_model.oob_score_

0.988

In [11]:
for feature,imp in zip(li2,r_model.feature_importances_):
    print(feature,imp)

Age 0.0453780380469516
Experience 0.04403103844070533
Income 0.34355795839736797
Family 0.09598961660445697
CCAvg 0.18308403745611868
Education 0.16424749073664155
Mortgage 0.04362583133708251
Securities Account 0.0057461372494168545
CD Account 0.055984128738989315
Online 0.008196598342877195
CreditCard 0.01015912464939204

## So the most important features are Education,CCAvg,Income.

# Now,Applying Decision Tree Algorithm with "Personal Loan" as a dependent variable and "Income","Education","CCAvg" as independent variable:-

In [13]:

p=pd.DataFrame([data2["Education"],data2["CCAvg"],data2["Income"]]).T 
z=data2["Personal Loan"]
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(p,z,test_size=0.3,random_state=0)

In [23]:
from sklearn import tree
d_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=12)
d_model.fit(X=X_train,y=y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [24]:
y_pred=d_model.predict(X=X_test)

In [25]:
with open("d_tree8.dot",'w') as f:
    f=tree.export_graphviz(d_model,feature_names=["Education","CCAvg","Income"],out_file=f)

In [26]:
d_model.score(X=X_train,y=y_train)

0.9717142857142858

# Rules:-

## 1.Person will not get loan when it's income <98.5 and CCAvg <2.95.

## 2.Person will get loan when it's income <116.5 and education>=2.

## 3.Person will get loan when it's income lies between 98.5 to 114.5 and CCAvg >4.6 and education>=2.

## 4.Person will not get loan when it's income lies between 82.5 to 98.5  and CCAvg >4.25.

## 5.Person will get loan when it's income lies between 82.5 to 98.5  and CCAvg lies between 4.05 to 4.25.