In [51]:
import pandas as pd 
import numpy as np

In [41]:
data=pd.read_csv("C:/Users/lakshay/Desktop/l.csv")

In [42]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [43]:
li2=list(data.columns)

In [44]:
data.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

Attrition  Department  bussiness travel    Education field     Gender   Job role   Arital status

In [45]:
from sklearn import preprocessing

In [46]:
encoder=preprocessing.LabelEncoder()
li=["Attrition","BusinessTravel","Department","Gender","JobRole","MaritalStatus","EducationField","Over18"]

In [47]:
for i in li:
    
    data[i]=encoder.fit_transform(data[i])

In [59]:
data.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [77]:


li2.remove("EmployeeID")
li2.remove("NumCompaniesWorked")

In [69]:
li2.remove("TotalWorkingYears")
data["TotalWorkingYears"]=data["TotalWorkingYears"].fillna(np.mean(data.TotalWorkingYears))

In [78]:
li2.remove("EmployeeCount")
li2.remove("Over18")
li2.remove("StandardHours")

ValueError: list.remove(x): x not in list

# APPLYING RANDOM FOREST ALGORITHM FOR FINDING THE PREFFERED INDEPENDENT VARIABLES WRT ATTRITION AS DEPENDENT VARIABLE.

In [70]:
from sklearn.ensemble import RandomForestClassifier
r_model=RandomForestClassifier(n_estimators=1000,max_features=2,oob_score=True)

In [79]:

r_model.fit(X=data[li2],y=data["Attrition"])

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features=2,
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=True, random_state=None,
                       verbose=0, warm_start=False)

In [81]:
li2

['Age',
 'BusinessTravel',
 'Department',
 'DistanceFromHome',
 'Education',
 'EducationField',
 'Gender',
 'JobLevel',
 'JobRole',
 'MaritalStatus',
 'MonthlyIncome',
 'StockOptionLevel',
 'TrainingTimesLastYear']

In [80]:
r_model.oob_score_

1.0

In [82]:
for feature,imp in zip(li2,r_model.feature_importances_):
    print(feature,imp)

Age 0.16762615763999272
BusinessTravel 0.037493475149425456
Department 0.03677667945784638
DistanceFromHome 0.12066303542631472
Education 0.06246980734560097
EducationField 0.06260423292487219
Gender 0.02733719485392173
JobLevel 0.059599645765465926
JobRole 0.08696340919885519
MaritalStatus 0.05234881931612615
MonthlyIncome 0.16433008719342923
StockOptionLevel 0.052176632455075686
TrainingTimesLastYear 0.06961082327307386

## So from the random forest algo the most important independent factors are "Age" and "Monthly Income","StockOptionLevel":-

In [84]:
from sklearn import tree
d_model=tree.DecisionTreeClassifier(max_depth=6,max_leaf_nodes=12)

In [85]:
l=["MonthlyIncome","Age","StockOptionLevel"]

In [86]:
d_model.fit(X=data[l],y=data["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=12,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [87]:
with open("d_tree11.dot",'w') as f:
    f=tree.export_graphviz(d_model,feature_names=l,out_file=f)

# Rules:-

## 1. Person is attrited when his income<10300 and it's age<33.5

## 2. Person is not attrited when his income>182405 and it's age<22

## 3. Person is attrited when his income>16195 and it's age lies between 21 and 27 with StockOptionLevel=0

## 4. There are very high chances that Person is not attrited when his income>103000 and it's age>33.5