## Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [23]:
s=input()
li=list(s)
l2=[]
c=0
for i in range(len(li)+1):
	if li[int(i)]=="@":
		c+=1
	if li[int(i)+1]==".":
		break;
	if c==1:
        
		l2.append(li[int(i)+1])
		
print("".join(l2))

pandora@lakshya.com
lakshya

## Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [35]:
l1=input().split(",")
l2=[]
#print(l1)
l1.sort()

#print(l1)
print(",".join(l1))

hello,yellow,buffalo,more
buffalo,hello,more,yellow

## Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

Create a set:

In [4]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'apple', 'cherry'}

Loop through the set, and print the values:

In [6]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

banana
apple
cherry

Add Items:

In [7]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}

Remove Items:

In [8]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

Union:

In [11]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

Set Constructor:

In [12]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}

## Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [52]:
x=map(int,input().split())
l=list(x)
l.sort()
for i in range(len(l)-1):
	if (l[i+1]-l[i])!=1:
		print(l[i]+1)

1 3 6 9 8 5 2 4
7

## Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [3]:
x=map(int,input().split())
l=list(x)
i=0

l.sort()
while i<(len(l)-1):
	if l[i]==l[i+1]:
		del l[i]
	else:
		i=i+1
y=map(str,l)
m=list(y)
s=" ".join(m)
print(s)

12 12 36 35 85 999 12 44
12 35 36 44 85 999